/*---------------------------------------*\
    Base
\*---------------------------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: arial;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  padding-left: 200px;
  background: #f2f5f8;
  font-family: "Roboto", sans-serif;
}

img {
  border: 0;
}

a {
  color: #2b3543;
  text-decoration: none;
  background: transparent;

  &:hover,
  &:active {
    color: #2b3543;
    outline: 0;
  }
}

input {
  outline: 0;
}
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-moz-selection,
::selection {
  background: #333333;
  color: white;
  text-shadow: none;
}

/*---------------------------------------*\
    sidebar - index 9998
\*---------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #302d2d;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.05);
  z-index: 9998;
  padding: 5px 20px 20px;

  a {
    color: #ffffff;
  }
}

.logo {
  color: white;
  font-size: 2rem;
  padding-bottom: 22px;
  border-bottom: 1px solid #ffffff;

  span {
    color: #e22c6e;
  }
}

.nav-menu {
}

/*---------------------------------------*\
    header - index 9997
\*---------------------------------------*/
.header {
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 100px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 9997;
}

.header__searchcontrole {
  width: 500px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 20px;
}

/*---------------------------------------*\
    header - index 9996
\*---------------------------------------*/
.content {
  position: fixed;
  left: 250px;
  top: 100px;
  padding: 40px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 9996;
}

/*---------------------------------------*\
    cards
\*---------------------------------------*/

.frelancers::after {
  clear: both;
}

.freelancer {
  width: 24%;
  max-width: 24%;
  min-width: 260px;
  float: left;
  margin: 0 0.5%;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border: 0 solid transparent;
  border-radius: 5px;
  position: relative;
}

.freelancer__picture {
  margin: 0;

  img {
    border-radius: 50%;
    height: 132px;
    margin-bottom: 0.78571429rem;
    min-height: 130px;
    min-width: 130px;
    justify-content: center;
    overflow: hidden;
    width: 132px;
  }
}

.freelancer__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.freelancer__username {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 10px 0;
}

.freelancer__detail {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 5px 0;
  text-align: inherit;

  a {
    color: #0174ef;
  }

  + .btn {
    margin-top: 20px;
  }
}

.freelancer__rate {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.freelancer__unit {
  font-weight: normal;
  font-size: 0.8rem;
  color: green;
}

.freelancer__actions {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  text-align: initial;
  display: flex;
  justify-content: space-between;

  > a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      border-color: #aaaaaa;
      img {
        opacity: 0.6;
      }
    }

    img {
      opacity: 0.3;
    }
  }
}

.freelancer--details {
  width: 100%;
  min-width: 260px;
  max-width: inherit;
  float: none;
  margin: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px;
  text-align: center;
  border: 0 solid transparent;
  border-radius: 5px;
  position: relative;
}

/*---------------------------------------*\
    btn
\*---------------------------------------*/

.btn {
  border: 1px solid #e22c6e;
  font-weight: normal;
  padding: 5px 20px;
  font-size: 1rem;
  background-clip: border-box;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
  text-align: center;
  background: white;
  color: #e22c6e;
}

.btn-info,
.btn-validate {
  text-shadow: 0 -1px transparent;
  width: 100%;
  transition: all linear 0.2s;

  &:hover,
  &:active,
  &:focus {
    color: #ffffff;
    background: #e22c6e;
  }
}
.btn-validate {
  width: auto;
}

/*---------------------------------------*\
    flex form
\*---------------------------------------*/

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
  position: relative;
}

.flex-outer {
  max-width: 800px;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer {
  > li:not(:last-child) {
    margin-bottom: 20px;
  }

  li {
    label {
      padding: 8px;
      font-weight: 300;
      letter-spacing: 0.09em;
      text-transform: uppercase;
    }

    p {
      padding: 8px;
      font-weight: 300;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      flex: 1 0 120px;
      max-width: 220px;
    }
  }

  > li > label {
    flex: 1 0 120px;
    max-width: 220px;
  }

  > li > label + * {
    flex: 1 0 220px;
  }
}

.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li {
  p {
    margin: 0;
  }

  input:not([type="checkbox"]),
  textarea {
    padding: 15px;
    border: none;
  }
}

.flex-inner li {
  width: 100px;
}

.invalid-feedback {
  position: absolute;
  right: 0;
  border-radius: 5px;
  max-width: 150px;
  color: red;
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid red;
  text-align: right;
}

.from-action {
  padding: 20px 0;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

/*---------------------------------------*\
    loader - index 9999
\*---------------------------------------*/
.loader {
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 9999;
}

/*---------------------------------------*\
    sort bloc - index 9999
\*---------------------------------------*/

.sort {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  font-size: 1rem;
  color: #e22c6e;
  margin-left: 50px;
  padding: 3px 20px;
  border-radius: 3px;
  border: 1px solid #e22c6e;
}
.icon-sort {
  transition: all linear 0.2s;
  display: inline-block;

  &.direction-0 {
    display: none;
  }
  &.direction-1 {
    transform: rotate(90deg);
  }
  &.direction-2 {
    transform: rotate(270deg);
  }
}
